body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/p2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
nav
{
    align-items: top;

}
.main
{
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2cm;
    width: 300px;
    height: 320px;
    margin-left: 600px;
    margin-top: 160px;
    background-color: rgb(177, 177, 177,0.8);
}
.mainb
{
    margin-top: 10px;
}

input
{
    border-radius: 2cm;
    width: 6cm;
    height: 30px;
}

button{
    border-radius: 2cm;
    height: 30px;
    width: 2cm;
}

button:hover{
    color: orange;

}