nav{
    background-color: rgb(177, 177, 177,0.8);
 }

 ul{
     list-style-type: none;
     /* display: inline-block; */
     margin-left: 1250px;
 }

 li{
     display: inline-block;
     /* display: block; */
     padding: 10px;
     color: black;
 }
 .link{
     
     color: aqua;
 }
 li:hover:not(.active){
     color: orange;
     
 }
 .active
 {
     background-color: azure;
 }